<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static  'css/styles.css' %}">
</head>
<body>
    {% include 'navbar.html' %}
    <h1>Welcome {{ username }}!!!!!!!!</h1>
    <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit" class="logout">Logout</button>
    </form>
  
    {% comment %} 
    <form method="POST" action="{% url 'dashboard' %}">
        {% csrf_token %}
        <!-- Dropdown Button -->
        <div class="dropdown">
            <button type="submit" id="dropdown-title" name="dropdown_title" value="Default Value" onclick="event.preventDefault(); toggleDropdown();">
                Choose video generation
            </button>
            <div id="myDropdown" class="dropdown-content">
                <p class="dropdown_option-content" onclick="selectOption(this)">AI Generation</p>
                <p class="dropdown_option-content" onclick="selectOption(this)">Stock Content Websites</p>
            </div>
        </div>
    </form> 
    {% endcomment %}

    <form method="POST" action="{% url 'chooseGeneration' %}">
        {% csrf_token %}
    <div class="generation-options">
       <button class="video-generation-btn" value="AI Generation"  type = "submit" name = "choose-btn" id = "choose-btn">AI Generation</button>
       <button class="video-generation-btn" value="Stock content Websites" type = "submit" name = "choose-btn"  id = "choose-btn">Stock content Websites</button>
    </div>
    </form>

    <form method="POST" action="{% url 'dashboard' %}">
        {% csrf_token %}
        <input type="text" required name="script_input" placeholder="Enter a prompt"></input>
        <input type="number" required name="video_length" placeholder="Enter the length of the video"></input>
        <input type="text" required name="tone" placeholder="Set the tone of the video"></input>
        <br>
        <button type="submit">Submit</button>
    </form>

    <h5>This is the generated script: {{script}}</h5>
    <h5>These are the segments of the script {{segments}}</h5>
    <h5>These are the edited segments of the script: {{edited_segments}}</h5>

    <script src="{% static  'js/main.js'%}"></script>
</body>
</html>
