<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" href="static/styles.css">
    <link rel="stylesheet" href="{% static  'css/styles.css'%}">
</head>
<body>
    {% include 'navbar.html' %}
    <h1>Welcome {{ username }}!!!!!!!!</h1>
    <form method = "POST" action = {% url 'logout'%}>
        {% csrf_token %}
        <button type = "submit">Logout</button>
    </form>
        <form method="POST" action="{% url 'dashboard' %}">
            {% csrf_token %}
            <input type = "text" required name = "script_input" placeholder = "Enter a prompt"></input>
            <input type = "number" required name = "video_length" placeholder = "Enter the length of the video"></input>
            <input type = "text" required name = "tone" placeholder = "Set the tone of the video"></input>
            <button type = "submit"></button>
        </form>
    <h5>This is the generated script: {{script}}</h5>
    <h5>These are the segments of the script {{segments}}</h5>
    <h5>These are the edited segments of the script: {{edited_segments}}
</body>
</html>